{% extends 'main.html' %} {% load static %} {%block content%}


<section
      class="header relative pt-16 items-center flex h-screen max-h-860-px"
    >
      <div class="container mx-auto items-center flex flex-wrap">
        <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
          <div class="pt-32 sm:pt-0">
            <h2 class="font-semibold text-4xl text-blueGray-600">
              Direct offertes voor jouw producten
            </h2>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Transformeer uw productiefaciliteit met behulp van AI, en verbeter uw concurrentiepositie 
              
            </p>
            <div class="mt-12">
              <a
              href="{% url 'quote' %}"
                target="_blank"
                class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-mechanicalblue active:bg-mechanicalblue uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
              >
                Probeer het nu
              </a>
              <a
              href="{% url 'how' %}"
                class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-600 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
                target="_blank"
              >
                Hoe werkt het?
              </a>
            </div>
          </div>
        </div>
      </div>

      <img
        class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
        src="./assets/img/ill_header_3.png"
        alt="..."
      />
    </section>

   
{% endblock%}
