{% extends 'main.html' %} {% load static %} {%block content%}


<section
      class="header relative pt-16 items-center flex h-screen max-h-860-px"
    >
      <div class="container mx-auto items-center flex flex-wrap">
        <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
          <div class="pt-32 sm:pt-0">
            <h2 class="font-semibold text-4xl text-blueGray-600">
              Direct offertes voor jouw producten
            </h2>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Transformeer uw productiefaciliteit met behulp van AI, en verbeter uw concurrentiepositie 
              
            </p>
            <div class="mt-12">
              <a
              href="{% url 'quote' %}"
                target="_blank"
                class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-mechanicalblue active:bg-mechanicalblue uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
              >
                Probeer het nu
              </a>
              <a
              href="{% url 'how' %}"
                class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-600 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
                target="_blank"
              >
                Hoe werkt het?
              </a>
            </div>
          </div>
        </div>
      </div>

      <img
        class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
        src="{% static 'images/gears_wallpaper.jpg' %}"
        alt="..."
      />
      
    </section>
    <section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
      

      <div class="justify-center text-center flex flex-wrap mt-24">
        <div class="w-full md:w-6/12 px-12 md:px-4">
          
          <h2 class="font-semibold text-4xl">Waarvoor gebruik je geometriq</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
            Het automatiseren van het aanbestedingsprocess. Bespaar kosten tijd en vereenvoudig het voor de klant om pruducten te bestellen. 

          </p>
        </div>
      </div>
    </section>

    

    <section class="block relative z-1 bg-blueGray-600">

      
      <div class="container mx-auto">
        <div class="justify-center flex flex-wrap">
          <div class="w-full lg:w-12/12 px-4 py-12 -mt-24">
            <div class="flex flex-wrap py-12">
              <div class="w-full lg:w-4/12 px-4">
                <h5 class="text-xl text-white font-semibold pb-4 py-8 text-center">
                  Frezen
                </h5>
                {% comment %} <a href="./pages/auth/login.html"> {% endcomment %}
                  <div
                    class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                  >
                    <img
                      alt="..."
                      class="align-middle border-none max-w-full h-auto rounded-lg"
                      src="{% static 'images/milling-icon.jpg' %}"
                    />
                  </div>
                {% comment %} </a> {% endcomment %}
              </div>

              <div class="w-full lg:w-4/12 px-4">
                <h5 class="text-xl text-white font-semibold pb-4 py-8 text-center">
                  Draaien
                </h5>
                {% comment %} <a > {% endcomment %}
                  <div
                    class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                  >
                    <img
                      alt="..."
                      class="align-middle border-none max-w-full h-auto rounded-lg"
                      src="{% static 'images/turning-icon.png' %}"
                    />
                  </div>
                {% comment %} </a> {% endcomment %}
              </div>

              <div class="w-full lg:w-4/12 px-4">
                <h5 class="text-xl text-white font-semibold pb-4 py-8 text-center">
                  Laser snijden
                </h5>
                {% comment %} <a href="./pages/landing.html"> {% endcomment %}
                  <div
                    class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
                  >
                    <img
                      alt="..."
                      class="align-middle border-none max-w-full h-auto rounded-lg"
                      src="{% static 'images/laser_icon.png' %}"
                    />
                  </div>
                {% comment %} </a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   
{% endblock%}
