{% extends 'main.html' %} {% load static %} {%block content%}
<section
class="header relative pt-16 items-center flex h-screen max-h-860-px"
>
<div class="container mx-auto items-center flex flex-wrap">
  <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
    <div class="pt-32 sm:pt-0">
      <h2 class="font-semibold text-4xl text-blueGray-600">
        Hoe werkt Geometriq?
      </h2>
      
    </div>
  </div>
</div>

<img
  class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
  src="{% static 'images/ill_header_3.png' %}"
  alt="..."
/>
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
<div
  class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
  style="transform: translateZ(0)"
>
  {% comment %} <svg
    class="absolute bottom-0 overflow-hidden"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    version="1.1"
    viewBox="0 0 2560 100"
    x="0"
    y="0"
  > {% endcomment %}
    <polygon
      class="text-blueGray-100 fill-current"
      points="2560 0 2560 100 0 100"
    ></polygon>
  </svg>
</div>


<div class="container mx-auto overflow-hidden pb-20">
  <div class="flex flex-wrap items-center">
    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
      <div
        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
      >
      <img
          
          src="{% static 'images/upload_icon.png' %}"
          
        />

      </div>
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        Upload je CAD Modellen
      </h3>
      <p
        class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
      >
        Meerdere modellen kunnen worden geupload om vervolgens een offerte te krijgen.
      </p>

     
    </div>

    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
      <div
        class="relative flex flex-col min-w-0 w-full mb-6 mt-48 md:mt-0"
      >
        <img
          
          src="{% static 'images/cad_icon.png' %}"

        />
       
      </div>
    </div>
  </div>
{% comment %} end container {% endcomment %}

{% comment %} start container {% endcomment %}
  <div class="flex flex-wrap items-center pt-32">
    <div class="w-full md:w-6/12 px-4 mr-auto ml-auto mt-32">
      <div class="justify-center flex flex-wrap relative">
        <div class="my-4 w-full lg:w-6/12 px-4">
         
            <div class="bg-red-600 shadow-lg rounded-lg text-center p-8">
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="{% static 'images/material_icon.png' %}"
              />
              
              <p class="text-lg text-white mt-4 font-semibold">kies matriaal</p>
            </div>

          
          
            <div
              class="bg-lightBlue-500 shadow-lg rounded-lg text-center p-8 mt-8"
            >
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="{% static 'images/surface_finish_icon.png' %}"
              />
              <p class="text-lg text-white mt-4 font-semibold">Opvervlakte behandeling</p>
            </div>
          
          
            <div
              class="bg-blueGray-700 shadow-lg rounded-lg text-center p-8 mt-8"
            >
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="{% static 'images/cad_icon.png' %}"
              />
              <p class="text-lg text-white mt-4 font-semibold">Toleranties</p>
            </div>
          
        </div>
        <div class="my-4 w-full lg:w-6/12 px-4 lg:mt-16">
          
            <div
              class="bg-yellow-500 shadow-lg rounded-lg text-center p-8"
            >
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="{% static 'images/message_icon.png' %}"
              />
              <p class="text-lg text-white mt-4 font-semibold">
                Bijzonderheden
              </p>
            </div>
          
          
          
            <div
              class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8"
            >
              <img
                alt="..."
                class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
                src="{% static 'images/quantity_icon.png' %}"
              />
              <p class="text-lg text-white mt-4 font-semibold">Aantallen</p>
            </div>
          
        </div>
      </div>
    </div>

    <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
      <div
        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
      >
      <img
          
      src="{% static 'images/modify_icon.jpeg' %}"

    />
      </div>
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        ProductieProcessen worden gelselecteerd
      </h3>
      <p
        class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
      >
        Extra eisen waareaan het product moet voldoen worden gespecificeerd. Welke materialen zijn er nodig, wat zijn de oppervlakte behandelingen, etc
      </p>
      <p
        class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
      >
        We created a set of Components that are dynamic and come to help
        you.
      </p>
      <div class="block pb-6">
     
      </div>
     
        View all
        <i class="fa fa-angle-double-right ml-1 leading-relaxed"></i>
      
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pb-32 pt-48">
  <div class="items-center flex flex-wrap">
    <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
      <div class="md:pr-12">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
        <img
          
        src="{% static 'images/order_icon.png' %}"
  
      />
        </div>
        <h3 class="text-3xl font-semibold">Onderdelen worden besteld</h3>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Wanneer alle benodigde opties zijn geselecteerd worden alle onderdelen online besteld.
        </p>
       
      </div>
    </div>

    <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-xl"
        style="
          transform: scale(1) perspective(1040px) rotateY(-11deg)
            rotateX(2deg) rotate(2deg);
        "
        
      />
    </div>
  </div>
</div>
{% comment %} 
<div class="justify-center text-center flex flex-wrap mt-24">
  <div class="w-full md:w-6/12 px-12 md:px-4">
    <h2 class="font-semibold text-4xl">Beautiful Example Pages</h2>
    <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
      Notus Tailwind JS is a completly new product built using our past
      experience in web templates. Take the examples we made for you and
      start playing with them.
    </p>
  </div>
</div>
</section>

<section class="block relative z-1 bg-blueGray-600">
<div class="container mx-auto">
  <div class="justify-center flex flex-wrap">
    <div class="w-full lg:w-12/12 px-4 -mt-24">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-4/12 px-4">
          <h5 class="text-xl font-semibold pb-4 text-center">
            Login Page
          </h5>
          <a href="./pages/auth/login.html">
            <div
              class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
            >
              <img
                alt="..."
                class="align-middle border-none max-w-full h-auto rounded-lg"
                src="./assets/img/login.jpg"
              />
            </div>
          </a>
        </div>

        <div class="w-full lg:w-4/12 px-4">
          <h5 class="text-xl font-semibold pb-4 text-center">
            Profile Page
          </h5>
          <a href="./pages/profile.html">
            <div
              class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
            >
              <img
                alt="..."
                class="align-middle border-none max-w-full h-auto rounded-lg"
                src="./assets/img/profile.jpg"
              />
            </div>
          </a>
        </div>

        <div class="w-full lg:w-4/12 px-4">
          <h5 class="text-xl font-semibold pb-4 text-center">
            Landing Page
          </h5>
          <a href="./pages/landing.html">
            <div
              class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
            >
              <img
                alt="..."
                class="align-middle border-none max-w-full h-auto rounded-lg"
                src="./assets/img/landing.jpg"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="py-20 bg-blueGray-600 overflow-hidden">
<div class="container mx-auto pb-64">
  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
      <div
        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
      >
        <i class="fas fa-code-branch text-xl"></i>
      </div>
      <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">
        Open Source
      </h3>
      <p
        class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-400"
      >
        Since
        <a
          href="https://tailwindcss.com/?ref=creativetim"
          class="text-blueGray-300"
          target="_blank"
        >
          Tailwind CSS
        </a>
        is an open source project we wanted to continue this movement too.
        You can give this version a try to feel the design and also test
        the quality of the code!
      </p>
      <p
        class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-400"
      >
        Get it free on Github and please help us spread the news with a
        Star!
      </p>
      <a
        href="https://github.com/creativetimofficial/notus-js?ref=njs-index"
        target="_blank"
        class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
      >
        Github Star
      </a>
    </div>

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
      <i
        class="fab fa-github text-blueGray-700 text-55 absolute -top-150-px -right-100 left-auto opacity-80"
      ></i>
    </div>
  </div>
</div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
<div
  class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
  style="transform: translateZ(0)"
>
  <svg
    class="absolute bottom-0 overflow-hidden"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    version="1.1"
    viewBox="0 0 2560 100"
    x="0"
    y="0"
  >
    <polygon
      class="text-blueGray-200 fill-current"
      points="2560 0 2560 100 0 100"
    ></polygon>
  </svg>
</div>

<div class="container mx-auto">
  <div
    class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10"
  >
    <div class="w-full text-center lg:w-8/12">
      <p class="text-4xl text-center">
        <span role="img" aria-label="love"> 😍 </span>
      </p>
      <h3 class="font-semibold text-3xl">
        Do you love this Starter Kit?
      </h3>
      <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
        Cause if you do, it can be yours now. Hit the buttons below to
        navigate to get the Free version for your next project. Build a
        new web app or give an old project a new look!
      </p>
      <div class="sm:block flex flex-col mt-10">
        <a
          href="https://www.creative-tim.com/learning-lab/tailwind/js/overview/notus?ref=njs-index"
          target="_blank"
          class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-pink-500 active:bg-pink-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
        >
          Get started
        </a>
        <a
          href="https://github.com/creativetimofficial/notus-js?ref=njs-index"
          target="_blank"
          class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
        >
          <i class="fab fa-github text-lg mr-1"></i>
          <span>Help With a Star</span>
        </a>
      </div>
      <div class="text-center mt-16"></div>
    </div>
  </div>
</div> {% endcomment %}
</section>

{%endblock%}