<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" />
    <link      rel="apple-touch-icon"
      sizes="76x76"      href="{% static 'assets/img/apple-icon.png' %}"    />
    <title>Geometriq</title>
    {% tailwind_css %}
    {% comment %} href="{% static 'assets/styles/tailwind.css' %}
    href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}
    href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %} {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"    /> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/styles/tailwind.css' %}" /> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style_rotate.css' %}"> {% endcomment %}
    {% comment %} <link href="{% static 'css/output.css' %}" rel="stylesheet" /> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
  </head>
  <body class="text-blueGray-700 antialiased">
    {% include 'navbar.html' %}
    {% block content %} {% endblock%}
    {% include 'footer.html' %}
  </body>

  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script type="module" src= ="{% static '/src/main.jsx' %}" ></script>
  </body>
 
</html>
