<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" />
    <link      rel="apple-touch-icon"
      sizes="76x76"      href="{% static 'assets/img/apple-icon.png' %}"    />
    <link rel="stylesheet" href="{% static 'assets/styles/tailwind.css' %}" /> 
    {% comment %} https://cdn.skypack.dev/three@0.132.2/build/three.module.js {% endcomment %}
    <script type="importmap">
      {
          "imports": {
              "three": "https://unpkg.com/three@0.127.0/build/three.module.js",
              "GLTFLoad":  "https://cdn.skypack.dev/three@0.127.0/examples/jsm/loaders/GLTFLoader.js",
              "OrbitControl":  "https://cdn.jsdelivr.net/npm/three@0.127.0/examples/jsm/controls/OrbitControls.js"
          }
      }
  </script>
    

    
    <title>Geometriq</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% comment %} <script src="{% static 'js/scene.js' %}"></script> {% endcomment %}
  </head>
  <body class="text-blueGray-700 antialiased">
    
    {% include 'navbar.html' %}
    
    {% block content %} {% endblock%}
    {% comment %} {% include 'footer.html' %} {% endcomment %}
  </body>

  </body>
  
  <script type="text/javascript" src="{% static 'o3dv/o3dv.min.js' %}"></script>
  <script  src="{% static 'o3dv/libs/loaders/occt-import-js-worker.js' %}"></script>

</html>
