{%load static%}
<nav
class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-m bg-white shadow"
>
<div
  class="container px-4 mx-auto flex flex-wrap items-center justify-between"
>
  <div
    class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
  >
    <a
      class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      href="{% url 'home' %}"
      ><img src="{% static 'images/geometriq_logo.png' %}" class="h-20 mr-3 sm:h-20 rounded-full" alt="Landwind Logo" />
      </a 
    ><button
      class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
      type="button"
      onclick="toggleNavbar('example-collapse-navbar')"
    >
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div
    class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none hidden"
    id="example-collapse-navbar"
  >
    {% comment %} <ul class="flex flex-col lg:flex-row list-none mr-auto">
      <li class="flex items-center">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="https://www.creative-tim.com/learning-lab/tailwind/js/overview/notus?ref=njs-index"
          ><i
            class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"
          ></i>
          Docs</a
        >
      </li>
    </ul> {% endcomment %}
    <ul
      class="flex flex-col lg:flex-row list-none lg:ml-auto items-center"
    >
      <li class="inline-block relative">
        <a
          class="hover:text-blueGray-500 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
          href="#pablo"
          onclick="openDropdown(event,'demo-pages-dropdown')"
        >
          Over geometriq
        </a>
        <div
          class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48 navbar-popper"
          id="demo-pages-dropdown"
        >
          <span
            class="text-sm pt-2 pb-0 px-4 font-bold block w-full whitespace-nowrap bg-transparent text-blueGray-400"
          >
            Geometriq
          </span>
          <a
          href="{% url 'how' %}"
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
          >
            Hoe werkt het
          </a>
          <a
          href="{% url 'why' %}"
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
          >
            Waarom geometriq
          </a>
          <a
          href="{% url 'contact' %}"
            class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
          >
            contact
          </a>
         
        </div>
      </li>
      <li class="flex items-center">
      <li class="flex items-center">
        <a href="{% url 'quote' %}">
        <button
          class="text-white bg-mechanicalblue active:bg-indigo-500 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          type="button"
          href="{% url 'quote' %}"
        >
          <i class="fas fa-arrow-alt-circle-down"></i> upload model
        </button>
      </a>
      </li>
    </ul>
  </div>
</div>
</nav>
