{% extends 'main2.html' %} {% load static %} {% load crispy_forms_tags %}
{% load tailwind_filters %}


{%block content%}
{% include 'sidebar.html' %}
<body class="text-blueGray-700 antialiased">
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    
    <div class="relative md:ml-64 bg-blueGray-50">
   
      <!-- Header -->
      <div class="relative bg-mechanicalblue md:pt-32 pb-32 pt-12">
        <div class="px-4 md:px-10 mx-auto w-full">
          <div>
          
            
          </div>
        </div>
      </div>
      <!-- 3d part-->
      <div class="px-4 md:px-10 mx-auto w-full -m-24">
        <div class="flex flex-wrap">

          {% comment %} part viewer {% endcomment %}
          <div class="w-full xl:w-8/12 mb-12 xl:mb-10 px-4">
            <div
              class="relative flex flex-col min-w-0  w-full mb-6 shadow-lg my-20 rounded bg-blueGray-700 "
            >
              <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                  <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6
                      class="uppercase text-blueGray-100 mb-1 text-xs font-semibold"
                    >
                    Jouw onderdeels
                    </h6>
                    <h2 class="text-white text-xl font-semibold">
                      
                    </h2>
                  </div>
                  {% comment %} model="{% static {'models/COFFEEE.STL'} %}" {% endcomment %}
                </div>
              </div>
              <div class="p-4 flex-auto">
                <!-- Chart -->
                <div class="relative rounded w-full sm:w-1/2 md:w-2/3 lg:w-3/4 xl:w-full h-200 text-white">

                  <div class="online_3d_viewer"
                      model= "{{model.model_file.url}}"
                        
                        >
                      </div>
                </div>
              </div>
              
            </div>
          </div>

          {% comment %} end fileviewer {% endcomment %}

          <div class="w-full xl:w-4/12 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
            >
              <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
                <div class="flex flex-wrap items-center">
                  <div class="relative w-full max-w-full flex-grow flex-1">
                    <h6
                      class="uppercase text-blueGray-400 mb-1 text-xs font-semibold "
                    >
                      Prijzen
                    </h6>
                    <h2 class="text-blueGray-700 text-xl font-semibold">
                      
                      <div
                        class="block max-w-sm rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <form method="post">
                          {% csrf_token %}

                            {{ price|crispy }}
                            
                          
                       
                            <button
                            class="text-white bg-mechanicalblue active:bg-indigo-500 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                            type="button"
                            href="{% url 'quote' %}"
                          >
                            <i class="fas fa-arrow-alt-circle-down"></i>Update
                          </button>
                        </form>
                      </div>

                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end specs-->

        <!-- new quote-->
        <div class="flex flex-wrap mt-4">
          <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
            >
              <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                  <div
                    class="relative w-full px-4 max-w-full flex-grow flex-1"
                  >
                    <h3 class="font-semibold text-base text-blueGray-700">
                      <form method="post">
                        {% csrf_token %}

                          {{ form|crispy }}
                     
                      
                    </h3>
                    <button
          class="text-white bg-mechanicalblue active:bg-indigo-500 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          type="button"
          href="{% url 'quote' %}"
        >
          <i class="fas fa-arrow-alt-circle-down"></i>Update
        </button>
                  </div>                 
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<script type="module" src="{% static 'js/main2.js' %}" ></script>

</body>



{% endblock %}
