{% extends 'main.html' %} {% load static %}

{%block content%}

<section
      class="header relative pt-16 items-center flex h-screen max-h-860-px"
    >
      <div class="container mx-auto items-center flex flex-wrap">
        <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
          <div class="text-center px-3 lg:px-0">
            <h2 class="text-black">Upload hier je model</h2>
            <form method="post" enctype="multipart/form-data" class="py-10">
              {% csrf_token %} 
              <input type="file" name="file">
              <br>
              <button
              class="text-white bg-mechanicalblue active:bg-indigo-500 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="submit"
              href="{% url 'quote' %}"
            >
              <i class="fas fa-arrow-alt-circle-down "></i> upload model
            </button>
            </form>
          </div>
          </div>
        </div>
      </div>

      <img
        class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
        src="{% static 'images/geometriq_logo.png' %}"
        alt="..."
      />
</section>




<script src="{% static 'three/src/js/three.js' %}"></script>

{%endblock%}
